<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_forrest_helper"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_forrest_helper_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplicationVoice"
        tools:targetApi="31">

        <activity
            android:name=".homescreen.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".homescreen.RegistrationActivity"
            android:label="Регистрация"/>

        <activity android:name=".homescreen.UsersOnlineActivity"
            android:label="Пользователи онлайн"
            android:launchMode="standard"
            android:noHistory="false"/>

        <activity android:name=".yandexmap.MapScreen"
            android:label="Карта"/>

        <activity
            android:name=".information.InfoActivity"
            android:label="Информация" />


        <activity
            android:name=".voicecall.VoiceCallActivity"
            android:label="Голосовой звонок" />

        <activity
            android:name=".voicecall.IncomingCallActivity"
            android:label="Входящий вызов" />

        <activity
            android:name=".messenger.MessengerActivity"
            android:label="Мессенджер" />


    </application>

</manifest>